/* основной цвет фона #E5E5E5 */

/* вторичный цвет фона #F5F4FA */

/* основной цвет текста Roboto 500 #212121 */

/* вторичный цвет текста Roboto 400 #757575 */

/* цвет при наведении(active) #2196F3 */

/* белый цвет текста #FFFFFF */

/* Header section */

.section {
    width: 1600px;
    padding-bottom: 94px;
    padding-top: 94px;
    margin-left: auto;
    margin-right: auto;
}
.container {
    width: 1200px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
    /* outline: 1px solid tomato; */
}
/* Header */
.main-logo {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
    color: var(--primary-text-color);
}
.main-logo > span {
    color: var(--active-color);
}

.section-header {
    background-color: var(--white-color);
    padding-bottom: 0;
    padding-top: 0;
}
.header {
    border-bottom: 1px solid #ececec;
}
.site-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* outline: 1px solid teal; */
}
.site-nav .site-nav-ul {
    display: flex;

    color: var(--primary-text-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    margin-left: 93px;
}
/* .site-nav-ul .item:not(:last-child) {
    margin-right: 40px; } */
.site-nav-ul .item + .item {
    margin-left: 40px;
}

.site-nav-ul .link {
    display: block;

    color: var(--primary-text-color);
    text-decoration: none;
    outline: none;
    padding-top: 32px;
    padding-bottom: 32px;
}
.site-nav-ul .link.current {
    color: var(--active-color);
}
.site-nav-ul a:hover {
    color: var(--active-color);
}
.site-nav-ul a:active {
    color: var(--active-color);
    background-color: inherit;
}
.site-nav-ul a:focus {
    color: var(--white-color);
}
.list {
    display: flex;
    margin-left: auto;
}
.list .item + .item {
    margin-left: 50px;
}
.list .address-section {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
}
/* Hero-section */

.section-hero {
    padding-top: 0;
    padding-bottom: 0;
}
.hero {
    width: inherit;
    text-align: center;
    background: #2f303a;
    padding-top: 200px;
}
.hero-title {
    color: var(--white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.btn {
    cursor: pointer;
    color: var(--white-color);
    background-color: var(--active-color);
    text-align: center;
    padding: 10px 32px;
    border-radius: 4px;
    border: transparent;
    margin-bottom: 200px;
}

/* Что мы делаем */
.whatdoing-section {
    background-color: var(--white-color);
    padding-top: 94px;
}
.whatdoing-ul {
    display: flex;
    flex-direction: row;
}
.whatdoing-ul li + li {
    padding-left: 30px;
}
.whatdoing-ul.list,
.preview-ul.list,
.section-title-list.list,
.site-nav-ul.list,
.list {
    padding-left: 0;
}

.whatdoing-ul h3 {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.15;
    text-transform: uppercase;
    color: var(--primary-text-color);
}

.whatdoing-ul p {
    font-weight: normal;
    font-size: 14px;
    line-height: 1.7;
    color: var(--secondary-text-color);
}

/* Чем мы занимаемся */

.section-examples {
    background-color: var(--white-color);
    padding-top: 0;
}
.section-title {
    margin-top: 0;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    color: var(--primary-text-color);
}

.section-title-list {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
}
.section-title-list h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    color: var(--primary-text-color);
}
.section-title-list p {
    font-weight: normal;
    font-size: 16px;
    line-height: 1.18;
    color: var(--secondary-text-color);
}

.preview-ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/* ourteam-section */
.ourteam-section {
    background-color: #f5f4fa;
}
/* footer section */
.footer-section {
    background-color: var(--footer-bcg-color);
    padding-bottom: 0;
    padding-top: 0;
}
/* .footer-section-container {
    display: flex;
    flex-direction: column;
} */
.footer-logo {
    display: block;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    color: var(--white-color);
    padding-top: 60px;
    padding-bottom: 20px;
}
.footer-logo span {
    color: var(--active-color);
}
.address-link {
    display: flex;
    flex-direction: column;
    padding-bottom: 60px;
}
.address-link > a {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.7;
}
.address-link > a:not(:first-child) {
    padding-top: 9px;
}
.current-address {
    color: var(--white-color);
    text-decoration: none;
    outline: none;
}
.current-address:hover {
    color: var(--active-color);
    background-color: inherit;
}
.address-section {
    color: var(--secondary-text-color);
    text-decoration: none;
    outline: none;
}

.address-section:hover,
.address-section:focus {
    color: var(--active-color);
    background-color: inherit;
}

.address-section-opacity {
    color: rgba(255, 255, 255, 0.6);
}

/* .portfolio */

.main-portfolio-section {
    background-color: var(--white-color);
    padding-top: 94px;
}
.button-filter-list.list {
    flex-direction: row;
    justify-content: center;
    padding-bottom: 50px;
}
.btn-filter {
    color: var(--primary-text-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    cursor: pointer;
    padding: 6px 22px;
    border-radius: 4px;
    border: none;
}
.button-filter-list li:not(:last-child) {
    margin-right: 8px;
}
.btn-filter:hover,
.btn-filter:focus {
    color: var(--white-color);
    background-color: var(--active-color);
}
.btn-filter:focus {
    color: var(--white-color);
}

.filter-list-section-ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.filter-list-section-ul h3 {
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-text-color);
}
.filter-list-section-ul p {
    font-weight: normal;
    font-size: 16px;
    line-height: 1.875;
    color: var(--secondary-text-color);
}
